[project]
	description = Access inherited by all other projects.
[receive]
	requireContributorAgreement = false
	requireSignedOffBy = false
	requireChangeId = true
	enableSignedPush = false
[submit]
	mergeContent = true
[capability]
	administrateServer = group mdb/chrome-git-admins
[access "refs/*"]
	read = group Anonymous Users
	read = group mdb/chrome-git-admins
[access "refs/for/refs/*"]
	push = group Registered Users
	pushMerge = group Registered Users
[access "refs/heads/*"]
	create = group Project Owners
	create = group mdb/chrome-git-admins
	forgeAuthor = group Registered Users
	forgeCommitter = group Project Owners
	forgeCommitter = group mdb/chrome-git-admins
	push = group Project Owners
	push = group mdb/chrome-git-admins
	label-Code-Review = -2..+2 group Project Owners
	label-Code-Review = -2..+2 group mdb/chrome-git-admins
	label-Code-Review = -1..+1 group Registered Users
	submit = group Project Owners
	submit = group mdb/chrome-git-admins
	editTopicName = +force group Project Owners
	editTopicName = +force group mdb/chrome-git-admins
[access "refs/meta/config"]
	exclusiveGroupPermissions = read
	read = group Project Owners
	read = group mdb/chrome-git-admins
	push = group Project Owners
	push = group mdb/chrome-git-admins
	label-Code-Review = -2..+2 group Project Owners
	label-Code-Review = -2..+2 group mdb/chrome-git-admins
	submit = group Project Owners
	submit = group mdb/chrome-git-admins
[access "refs/tags/*"]
	pushTag = group Project Owners
	pushTag = group mdb/chrome-git-admins
	pushSignedTag = group Project Owners
	pushSignedTag = group mdb/chrome-git-admins
[label "Code-Review"]
	function = MaxWithBlock
	defaultValue = 0
	copyMinScore = true
	copyAllScoresOnTrivialRebase = true
	value = -2 This shall not be merged
	value = -1 I would prefer this is not merged as is
	value =  0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
